{% extends "base.html" %}
{% load url from future %}


<style type="text/css">
{% block content %}
{% if user.is_authenticated and user.is_active %}
    <h1 class="page-header">Logged in</h1>

    <p>You are logged in as <b>{% firstof user.get_full_name user %}</b>. <a href="/logout/">Click here to log out</a>.</p>
    <p>
        Two-factor authentication is <strong>{{ user.userauthtoken|yesno:"enabled,disabled" }}</strong>.
        <a href="{% url "change-settings" %}">
            Change your two-factor authentication settings.
        </a>
    </p>
    <p>
        Generate grid-cards <a href="{% url "generate-gridcard" %}">here</a>.
    </p>
{% else %}
    <h1 class="page-header">Please log in</h1>

    <form method="post" class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {# ------------ #}
    {# Show form errors that aren't specific to a field (bad username/password/auth code) #}
        {% if form.non_field_errors %}
        <tr><td colspan="2"><ul>
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul></td></tr>
        {% endif %}
    {# ------------ #}
    {# Standard login form bits: #}
    <div class="control-group">
        {% if not form.non_field_errors %}{{ form.username.errors }}{% endif %}

        <label for="id_username" class="control-label required{% if form.username.errors %} error{% endif %}">
            Username
        </label>

        <div class="controls">
        {{ form.username }}
        </div>
    </div>
    <div class="control-group">
        {% if not form.non_field_errors %}{{ form.password.errors }}{% endif %}

        <label for="id_password" class="control-label required{% if form.password.errors %} error{% endif %}">
            Password
        </label>
        <div class="controls">
        {{ form.password }}
        </div>
    </div>
    {# ------------ #}
    {# Custom display for auth code that displays help text as a hover-over #}
    <div class="control-group">
        {{ form.token.errors }}

        <label for="id_token" class="control-label {% if form.token.errors %}error{% endif %}">
            Auth Code
        </label>

        <div class="controls">
            {{ form.token }}
            <span class="help-block"><small>{{ form.token.help_text }}</small></span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Log in" />
        </div>
    </div>
    <input type="hidden" name="next" value="{% url 'django.contrib.auth.views.login' %}" />
    </form>
{% endif %}
{% endblock %}
